amqp
asgiref
async-timeout
attrs
autopep8
billiard
celery
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-filter
django-silk
djangorestframework
drf-spectacular
drf-spectacular-sidecar
exceptiongroup
gprof2dot
inflection
iniconfig
jsonschema
kombu
model-bakery
packaging
pluggy
prompt-toolkit
psycopg2-binary
pycodestyle
pyrsistent
pytest
pytest-django
python-dotenv
pytz
PyYAML
redis
six
sqlparse
tomli
tzdata
uritemplate
vine
wcwidth